@model IEnumerable<ApahidaTheatherWeb.Models.Ticket>

@{
    ViewData["Title"] = "Index";
}
<h1>List of tickets</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Row)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Row)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlayID)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }


    </tbody>
</table>

<p>
    <a class="btn btn-primary" asp-action="Create">Add ticket</a>
    <a class="btn btn-primary" asp-area="" asp-controller="Tickets" asp-action="Export" asp-route-exportID="2">Export JSON</a>
    <a class="btn btn-primary" asp-area="" asp-controller="Tickets" asp-action="Export" asp-route-exportID="1">Export CSV</a>
    <a class="btn btn-primary" asp-area="" asp-controller="swagger">Tickets API</a>
</p>